<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navigation.html' %}

    <div class="container">
        {% for day_of_festival in [29, 30, 31, 0] %}
            <h3>
                {% if (day_of_festival == 0) %}
                    All Days or not yet scheduled
                {% endif %}
                {% if (day_of_festival == 29) %}
                    Friday
                {% endif %}
                {% if (day_of_festival == 30) %}
                    Saturday
                {% endif %}
                {% if (day_of_festival == 31) %}
                    Sunday
                {% endif %}
            </h3>
            <table class="table table-stdiped">
                <tr>
                    {% if current_user.is_authenticated() %}
                      <th>&nbsp;</th>
                    {% endif %}
                    {% if (day_of_festival != 0) %}
                        <th>Start</th>
                        <th>End</th>
                    {% endif %}
                    <th>Speaker(s)</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Location</th>
                </tr>
                {% for event in events %}
                    {% if (event.matches_day(day_of_festival)) %}
                        <tr>
                          {% if current_user.is_authenticated() %}
                            <td>
                            {% if event in current_user.events %}
                              <form action="/events/{{event.id}}/unfavourite" method="POST" class="fave" id="fave{{event.id}}">
                                {{ form.hidden_tag() }}
                                <input type="image" src="/static/star_full.png" class="star" alt="Remove from favourites"/>
                              </form>
                            {% else %}
                              <form action="/events/{{event.id}}/favourite" method="POST" class="fave" id="fave{{event.id}}">
                                {{ form.hidden_tag() }}
                                <input type="image" src="/static/star_empty.png" class="star" alt="Add to favourites" />
                              </form>
                            {% endif %}
                            </td>
                          {% endif %}
                            {% if (day_of_festival != 0) %}
                                <td>{{event.start_time.strftime('%H:%M')}}</td>
                                <td>{{event.end_time.strftime('%H:%M')}}</td>
                            {% endif %}
                            <td>{{event.speaker_names}}</td>
                            <td>{{event.title}}</td>
                            <td>{{event.type_id}}</td>
                            <td>{{event.location_name}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    {% include 'footer.html' %}

    <script>
        $(document).ready(function() {
            $(".fave").submit(function(event_handle){
                $.ajax({
                    type: "POST",
                    url: event_handle.target.action,
                    data: $(event_handle.target).serialize(),
                    success: function(data)
                    {
                        if (data.favourite)
                        {
                            $('#fave'+data.event_id)[0].action = '/events/'+data.event_id+'/unfavourite';
                            $('#fave'+data.event_id).find('input[type=image]')[0].src = '/static/star_full.png';
                        }
                        else
                        {
                            $('#fave'+data.event_id)[0].action = '/events/'+data.event_id+'/favourite';
                            $('#fave'+data.event_id).find('input[type=image]')[0].src = '/static/star_empty.png';
                        }
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
