{% from "_formhelpers.html" import render_field %}
{% from "_eventtable.html" import event_table %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navigation.html' %}
    <div class="container">
        <h3>Your Information</h3>
        <form method="post" role="form" class="form-horizontal">
            <fieldset>
                <p>This is the name that will be shown on your badge.</p>
                {{ form.hidden_tag() }}
                {{ render_field(form.name, True) }}
                {{ render_field(form.nickname, True) }}

            </fieldset>

        <h3>Notification Methods</h3>
            <fieldset>
                <p>
                    We'll use this information to inform you of upcoming talks you're interested in (</a href="/events">you can mark them here</a>), either via SMS or a notification to the badge. If you don't fancy using one of those channels, just leave the field blank.
                </p>

                <p>
                    We promise to leave you alone after the event!
                </p>

                {{ render_field(form.badgeid, True, placeholder="EMF1234") }}
                {{ render_field(form.phone, True, placeholder="+44777 777 7777") }}
                <div class="form-actions col-sm-offset-3 col-sm-9">
                    <button type="submit" name="Create" class="btn btn-primary debounce">Save</button>
                </div>
            </fieldset>
        </form>

        <h3>Your schedule</h3>
        {% if user.events %}
          {{ event_table(event_data, user.events, form) }}
        {% else %}
          <p>You haven't added any events to your favourites yet! Visit <a href="/events">the events page</a> to add some.</p>
        {% endif %}
    </div>

    {% include 'footer.html' %}

    <script>
        $(document).ready(function() {
            $(".fave").submit(function(event_handle){
                $.ajax({
                    type: "POST",
                    url: event_handle.target.action,
                    data: $(event_handle.target).serialize()+'&json=true',
                    success: function(data)
                    {
                        if (data.favourite)
                        {
                            $('#fave'+data.event_id)[0].action = '/events/'+data.event_id+'/unfavourite';
                            $('#fave'+data.event_id).find('input[type=image]')[0].src = '/static/star_full.png';
                        }
                        else
                        {
                            $('#fave'+data.event_id)[0].action = '/events/'+data.event_id+'/favourite';
                            $('#fave'+data.event_id).find('input[type=image]')[0].src = '/static/star_empty.png';
                        }
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
